<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>De Quem É A Vez?</title>
    <meta name="site para mestres de RPG" content="">
    <meta name="@betinacosta" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/dice.png">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/dequemeavez.js"></script>


</head>

<body style="background-color: #EFF3F9">


    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="twelve columns" style="margin-top:5%">
          <h4 class="siteTitle">De Quem É A Vez?</h4><div class="five columns">
        </div>
        
        <div class="row">
            <div class="six columns">
                <div id="player">
                    <form id="new">
                        <div class="three columns">
                            <label for="playerName">Jogador</label>
                            <input class="u-full-width" type="text" placeholder="Jogador" id="playerName" ng-model="playerName">
                        </div>
                        <div class="two columns">
                            <label for="playerCA">CA</label>
                            <input class="u-full-width" type="number" placeholder="CA" id="playerCA" ng-model="playerCA">
                        </div>
                        <div class="two columns">
                            <label for="playerHP">HP</label>
                            <input class="u-full-width" type="number" placeholder="HP" id="playerHP" ng-model="playerHP">
                        </div>
                        <div class="two columns">
                            <label for="playerIni">Iniciativa</label>
                            <input class="u-full-width" type="number" placeholder="D20" id="playerIni" ng-model="playerIni">
                        </div>
                        <div class="three columns">
                            <label for="playerType">Tipo</label>
                            <select class="u-full-width" id="playerType" ng-model="playerType">
                                    <option value="Jogador">Jogador</option>
                                    <option value="Inimigo" >Inimigo</option>
                                    <option value="NPC" >NPC</option>
                                </select>
                        </div>
                </div>

                <div>
                    <div class="six columns">
                        <button type="submit" class="button-primary u-full-width" ng-click="addIniciative(playerName, playerCA, playerIni, playerHP, playerType)">Inserir</button>
                    </div>
                    <div class="six columns">
                        <button type="submit" class="button-primary u-full-width" ng-click="generateIni(playerName, playerCA, playerIni, playerHP, playerType)">Gerar</button>
                    </div>
                    </form>
                </div>

            </div>

            <div class="six columns">
                <div id="player">
                    <form id="update">
                        <div class="six columns">
                            <label for="pNameSelectIni">Jogador</label>
                            <select class="u-full-width" id="pNameSelectIni" ng-model="selectedPName">
                                    <option ng-repeat="p in players" value="{{p.name}}"></option>
                                </select>
                        </div>

                        <div class="three columns">
                            <label for="selectedPIniciative">Iniciativa</label>
                            <input class="u-full-width" type="number" placeholder="Iniciativa" id="selectedPIniciative" ng-model="selectedPIni">
                        </div>

                        <div class="three columns">
                            <label for="selectedPCA">CA</label>
                            <input class="u-full-width" type="number" placeholder="CA" id="selectedPCA" ng-model="selectedPCA">
                        </div>
                        <div class="twelve columns">
                            <button type="submit" class="button-primary u-full-width" ng-click="updatePlayer(selectedPName, selectedPIni, selectedPCA)">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div class="twelve columns" style="margin-top: 5%">
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th>Jogador</th>
                                <th>CA</th>
                                <th>HP</th>
                                <th>Tipo</th>
                                <th>Dano</th>
                                <th>Cura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in players">
                                <td ng-if="p.type=='Inimigo'" style="color: red">{{p.name}}</td>
                                <td ng-if="p.type=='Jogador' || p.type=='NPC'">{{p.name}}</td>
                                <td>{{p.ca}}</td>
                                <td>{{p.hp}}</td>
                                <td>{{p.type}}</td>
                                <td>
                                    <form style="margin-bottom: 0rem" ng-submit="addDemage(p.name, demage)"><input style="width:58px" type="text" placeholder="Dano" id="demage" ng-model="demage"></form>
                                </td>
                                <td>
                                    <form style="margin-bottom: 0rem" ng-submit="addHeal(p.name, heal)"><input style="width:58px" class="" type="text" placeholder="Cura" id="heal" ng-model="heal"></form>
                                </td>
                                <td><i class="fa fa-minus-circle fa-lg" style="color: #33C3F0" ng-click="removePlayer(p.name)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>